<div class="row item">

               <div class="twelve columns">

                  <h3>University of Life</h3>
                  <p class="info">Mgdfgsdfgsdfgdsfgaster in Graphic Design <span>&bull;</span> <em class="date">April 2007</em></p>

                  <p> 
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                  ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
                  </p>

               </div>

            </div> 


